<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lindog.fire.mapper.CardMapper">
    <insert id="create">
        insert into card (title, description, link, create_time, update_time) values (#{title}, #{description}, #{link}, #{createTime}, #{updateTime})
    </insert>
    <select id="list" resultType="com.lindog.fire.pojo.Card">
        select * from card
        <where>
            <if test="keyword != null and keyword != ''">
                title like concat('%', #{keyword}, '%') or description like concat('%', #{description}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>